<div class="container">
    <div class="row">
        <div class="main-section text-center">
            <div class="row">
                <div class="profile-header"></div>
            </div>
            <div class="row user-detail">
                <div class="">
                    <img src="http://via.placeholder.com/300x200" class="rounded-circle img-thumbnail">
                    <h5>John Addison</h5>
                    <p><i class="fa fa-map-marker" aria-hidden="true"></i> New Jersey, USA.</p>
                    <hr>
                    <a href="#" class="btn btn-success btn-sm">Follow</a>
                    <a href="#" class="btn btn-info btn-sm">Send Messege</a>
                    <hr>
                    <span>Lorem ips consectetur adipisium ,eiusmod tempor incididuin reprehendeanim.</span>
                </div>
            </div>
            <!--<div class="row user-social-detail">
                <div class="">
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div>
            </div>-->
        </div>
    </div>
</div>